<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h2>Login</h2>
    <form action="/login" method="POST">
      <input type="email" name="email" placeholder="Email" required><br>
      <input type="password" name="password" id="password" placeholder="Password" required>
      <input type="checkbox" onclick="togglePassword()"> Show Password <br>
      <button type="submit">Login</button>
      <p style="color:red;"><%= error %></p>
    </form>
  </div>
  <script src="/script.js"></script>
</body>
</html>